<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Barcode Print</title>
		<script type="text/javascript" src="./JsBarcode.all.min.js"></script>
		<style type="text/css">
			<!--
				.printBlock{
					page-break-after: always;
					width: 100mm;
					height: 50mm;
				}
				.barcode{
					width:90%;
					height:90%;
				}
			-->
		</style>
		<script type="text/javascript">
			document.onreadystatechange = () => {
				if (document.readyState === 'complete') {
					JsBarcode(".barcode").init();
				}
			};
		</script>
  </head>
  <body>
			<%= barcodes %>
  </body>
</html>
