<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Barcode Print</title>
		<script type="text/javascript" src="./JsBarcode.all.min.js"></script>
		<style type="text/css">
			<!--
        @page {
          margin:0;
        }
				body{
					margin:0;
					padding:0;
				}
				.printBlock{
					page-break-after: always;
					width: 50mm;
					height: 25mm;
					margin-left: auto;
					margin-right: auto;
					text-align: center;
				}
				.barcode{
					width:90%;
					height:60%;
        }
        .additional-content{
          font-size: 9px;
          word-wrap: break-word;
        }
			-->
		</style>
		<script type="text/javascript">
			document.onreadystatechange = () => {
				if (document.readyState === 'complete') {
					JsBarcode(".barcode").init();
				}
			};
		</script>
  </head>
  <body>
			<%= barcodes %>
  </body>
</html>
